body {
    &.is-active {

        @media only screen and ( max-width: 1024px ) {
            overflow: hidden;
        }       
    }
}

main {
    @include containerPadding( $vPaddingMobile:0, $vPaddingDesktop: 0 );
    @include clearFloat;
    @media only screen and ( max-width: 1024px ) {
        margin-top: calc( 48px + var(--wp--style--block-gap) ) !important;
    }

}

figure {
    margin: 0;
}

.mobile-background-menu {
    &.is-active {

        @media only screen and ( max-width: 1024px ) {
            position: fixed;
            background-color: rgba($color: #000000, $alpha: .5);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;
        }   
    }
}

a {
    color: var(--wp--preset--color--color-1);
}