body {

    --wp--custom--typography--font-size--heading-1: 36px;
    --wp--custom--typography--font-size--heading-2: 28px;
    --wp--custom--typography--font-size--heading-3: 24px;

    
    @media only screen and ( max-width: 1024px ) {

        &.is-active {
            overflow: hidden;    
        }

    }
}

main {
    @include clearFloat;
}

figure {
    margin: 0;
}

.mobile-background-menu {
    &.is-active {

        @media only screen and ( max-width: 1024px ) {
            position: fixed;
            background-color: rgba($color: #000000, $alpha: .5);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;
        }   
    }
}

a {
    color: var(--wp--preset--color--color-1);
}