.wp-block-navigation {
    &.items-justified-right {
        .wp-block-navigation__container {
            .has-child {
                .wp-block-navigation__submenu-container {
                    left: 0;

                    .wp-block-navigation__submenu-container {
                        left: 200px;
                    }
                }
            } 
        } 
    }

    @media only screen and ( min-width: 1025px ) {

        &__submenu-container {
            .wp-block-navigation__submenu-icon {
                margin-right: 10px;
            }
        }
        
    }
}