.ico-phone {
    border-color: var(--wp--custom--color--ico-phone) !important;

    path {
        fill: var(--wp--custom--color--ico-phone) !important;
    }
}

.ico-mail {
    border-color: var(--wp--custom--color--ico-mail) !important;

    path {
        fill: var(--wp--custom--color--ico-mail) !important;
    }
}