<!-- wp:template-part { "slug": "mobile-header" } /-->
<!-- wp:template-part { "slug":"header","tagName":"header", "className":"site-header" } /-->

<!-- wp:group {"tagName":"main", "layout":{"inherit":true}} -->
<main class="wp-block-group content">
    <!-- wp:pattern {"slug":"sast-theme/hidden-404"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"before-footer", "className": "before-footer"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer", "className": "site-footer"} /-->