<!-- wp:template-part { "slug": "mobile-header" } /-->
<!-- wp:template-part { "slug":"header","tagName":"header", "className":"site-header" } /-->

<!-- wp:group {"tagName":"main","className":"content"} -->
<main class="wp-block-group content">

<!-- wp:group {"tagName":"article"} -->
<article class="wp-block-group">
    
<!-- wp:group {"tagName":"header","style":{"spacing":{"padding":{"left":"var(--wp--custom--mobile--gap)","right":"var(--wp--custom--mobile--gap)"}}},"className":"entry-header", "align": "full", "layout": {"inherit":true}} -->
<header class="wp-block-group entry-header alignfull" style="padding-right:var(--wp--custom--mobile--gap);padding-left:var(--wp--custom--mobile--gap)">
        
<!-- wp:post-title {"className": "entry-title", "level":1, "style": {"spacing": {"margin": {"top": "var(--wp--style--block-gap)"}}}} /-->
<!-- wp:post-author {"showAvatar":false,"showBio":false,"byline":"Posted by", "fontSize": "small"} /-->
<!-- wp:post-featured-image { "align": "center" } /-->
</header>
<!-- /wp:group -->


<!-- wp:post-content {"layout":{"inherit":true} } /-->
    
</article>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var(--wp--style--block-gap)"} -->
<div style="height:var(--wp--style--block-gap)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

</main>
<!-- /wp:group -->
    

    
<!-- wp:template-part {"slug":"before-footer", "className": "before-footer"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer", "className": "site-footer"} /-->